<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.104.15" targetFramework="net472" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.3.117.6" targetFramework="net472" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Base" version="1.0.2" targetFramework="net472" />
</packages>